@using DotaWebStats.Services
@using DotaWebStats.Constants
@using DotaWebStats.Models.DotaData
@using DotaWebStats.Services.Helpers
@model UserDotaStats
@inject IDotaDataService DotaDataService
@inject DotaDataHelper DotaDataHelper

@{
    Layout = "_Layout";
    ViewData["Title"] = $"Player Profile - {Model.Profile.UserName}";

    WinLoseStats? winLoseStats = null;

    if (!string.IsNullOrEmpty(Model.Dota2Id))
    {
        if (long.TryParse(Model.Dota2Id, out var dota2Id))
        {
            winLoseStats = await DotaDataService.GetPlayerWinLoss(dota2Id);
        }
        else
        {
            <p>Error: Dota2Id is not a valid number.</p>
        }
    }
    else
    {
        <p>Error: Dota2Id is null or invalid.</p>
    }
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/_InfoPlayerLayout.css")"/>
}

<div class="profile-buttons-container white-box-container">
    <div class="profile-container">
        <div class="avatar-info-container">
            <div class="avatar-container">
                <img src="@Model.Profile.AvatarFull" alt="@Model.Profile.UserName's avatar" class="img-fluid rounded-circle mb-3" style="width: 100%; max-width: 200px;"/>
            </div>
            <div class="info-container">
                <h1>@Model.Profile.UserName</h1>
                @if (winLoseStats != null)
                {
                    <p class="win-rate">Win Rate: @(winLoseStats.WinRate.ToString("F2"))%</p>
                    <p class="win">Wins: @winLoseStats.Win</p>
                    <p class="loss">Losses: @winLoseStats.Lose</p>
                }
                else
                {
                    <p>No Win/Loss statistics available.</p>
                }
            </div>
        </div>
        <div class="rank-container">
            @if (Model.RankTier > 0)
            {
                <div class="rank-image">
                    <img src="@DotaDataHelper.GetRankImagePath(Model.RankTier)" alt="Rank Medal" style="width: 170px; height: 170px;"/>
                    <span class="rank-name">@DotaDataHelper.GetRankName(Model.RankTier)</span>
                </div>
            }
            else
            {
                <p>Unranked</p>
            }
            @if (Model.LeaderboardRank.HasValue)
            {
                <p>Leaderboard Rank: @Model.LeaderboardRank</p>
            }
        </div>
    </div>

    <div class="button-container">

        <a href=@UrlConstants.PlayerOverviewPage(Model.Dota2Id) class="btn">
            Overview
        </a>

        <button class="btn">Matches</button>
        <button class="btn">Heroes</button>
        <button class="btn">Peers</button>
        <button class="btn">Pros</button>
        <button class="btn">Totals</button>
        <button class="btn">Counts</button>
        <button class="btn">Histograms</button>
        <button class="btn">Ward Map</button>
        <button class="btn">Word Cloud</button>
        <button class="btn">Ratings</button>
    </div>
</div>