@model PlayerViewModel

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/PlayerOverview.css")"/>
}

@await Html.PartialAsync("_InfoPlayerLayout", Model.UserStats)

<div class="stats-container">
    <div class="stats-title">
        <p class="average-maximum"><strong>Averages/Maximums in last 20 displayed matches</strong></p>
    </div>
    <div class="stats-row">
        <div class="stat-item">
            <div class="stat-value"><strong> @(Model.RecentMatches.WinRate.ToString("F2"))</strong></div>
            <div class="stat-label"><strong>WINRATE</strong></div>
        </div>
        <div class="stat-item">
            <div class="stat-value"><strong>@Model.RecentMatches.AverageKills.ToString("F0")</strong></div>
            <div class="stat-max"><strong>@Model.RecentMatches.MaxKills</strong></div>
            <div class="stat-label"><strong>KILLS</strong></div>
        </div>
        <div class="stat-item">
            <div class="stat-value"><strong>@Model.RecentMatches.AverageDeaths.ToString("F0")</strong></div>
            <div class="stat-max"><strong>@Model.RecentMatches.MaxDeaths</strong></div>
            <div class="stat-label"><strong>DEATHS</strong></div>
        </div>
        <div class="stat-item">
            <div class="stat-value"><strong>@Model.RecentMatches.AverageAssists.ToString("F0")</strong></div>
            <div class="stat-max"><strong>@Model.RecentMatches.MaxAssists</strong></div>
            <div class="stat-label"><strong>ASSISTS</strong></div>
        </div>
        <div class="stat-item">
            <div class="stat-value"><strong>@Model.RecentMatches.AverageGoldPerMin.ToString("F0")</strong></div>
            <div class="stat-max"><strong>@Model.RecentMatches.MaxGoldPerMin</strong></div>
            <div class="stat-label"><strong>GOLD PER MIN</strong></div>
        </div>
        <div class="stat-item">
            <div class="stat-value"><strong>@Model.RecentMatches.AverageXpPerMin.ToString("F0")</strong></div>
            <div class="stat-max"><strong>@(Model.RecentMatches.MaxXpPerMin >= 1000 ? $"{Model.RecentMatches.MaxXpPerMin / 1000:F1}K" : Model.RecentMatches.MaxXpPerMin.ToString())</strong></div>
            <div class="stat-label"><strong>XP PER MIN</strong></div>
        </div>
        <div class="stat-item">
            <div class="stat-value"><strong>@Model.RecentMatches.AverageLastHits.ToString("F0")</strong></div>
            <div class="stat-max"><strong>@Model.RecentMatches.MaxLastHits</strong></div>
            <div class="stat-label"><strong>LAST HITS</strong></div>
        </div>
        <div class="stat-item">
            <div class="stat-value"><strong>@($"{Model.RecentMatches.AverageHeroDamage / 1000:F1}K")</strong></div>
            <div class="stat-max"><strong>@($"{Model.RecentMatches.MaxHeroDamage / 1000:F1}K")</strong></div>
            <div class="stat-label"><strong>HERO DAMAGE</strong></div>
        </div>
        <div class="stat-item">
            <div class="stat-value"><strong>@($"{Model.RecentMatches.AverageHeroHealing / 1000:F1}K")</strong></div>
            <div class="stat-max"><strong>@($"{Model.RecentMatches.MaxHeroHealing / 1000:F1}K")</strong></div>
            <div class="stat-label"><strong>HERO HEALING</strong></div>
        </div>
        <div class="stat-item">
            <div class="stat-value"><strong>@($"{Model.RecentMatches.AverageTowerDamage / 1000:F1}K")</strong></div>
            <div class="stat-max"><strong>@($"{Model.RecentMatches.MaxTowerDamage / 1000:F1}K")</strong></div>
            <div class="stat-label"><strong>TOWER DAMAGE</strong></div>
        </div>
        <div class="stat-item">
            <div class="stat-value"><strong>@TimeSpan.FromSeconds(Model.RecentMatches.AverageDuration).ToString(@"mm\:ss")</strong></div>
            <div class="stat-max"><strong>@TimeSpan.FromSeconds(Model.RecentMatches.MaxDuration).ToString(@"mm\:ss")</strong></div>
            <div class="stat-label"><strong>DURATION</strong></div>
        </div>
    </div>
</div>

<div class="page-data"></div>
