@model PlayerViewModel

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/PlayerOverview.css")"/>
}

@await Html.PartialAsync("_InfoPlayerLayout", Model.UserStats)



<table class="table">
    <thead>
        <tr>
            <th>Statistic</th>
            <th>Average</th>
            <th>Maximum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Winrate</td>
            <td>@(Model.RecentMatches.WinRate.ToString("P0"))</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Kills</td>
            <td>@Model.RecentMatches.AverageKills.ToString("F1")</td>
            <td>@Model.RecentMatches.MaxKills</td>
        </tr>
        <tr>
            <td>Deaths</td>
            <td>@Model.RecentMatches.AverageDeaths.ToString("F1")</td>
            <td>@Model.RecentMatches.MaxDeaths</td>
        </tr>
        <tr>
            <td>Assists</td>
            <td>@Model.RecentMatches.AverageAssists.ToString("F1")</td>
            <td>@Model.RecentMatches.MaxAssists</td>
        </tr>
        <tr>
            <td>Gold Per Min</td>
            <td>@Model.RecentMatches.AverageGoldPerMin.ToString("F0")</td>
            <td>@Model.RecentMatches.MaxGoldPerMin</td>
        </tr>
        <tr>
            <td>XP Per Min</td>
            <td>@Model.RecentMatches.AverageXpPerMin.ToString("F0")</td>
            <td>@(Model.RecentMatches.MaxXpPerMin >= 1000 ? $"{Model.RecentMatches.MaxXpPerMin / 1000:F1}k" : Model.RecentMatches.MaxXpPerMin.ToString())</td>
        </tr>
        <tr>
            <td>Last Hits</td>
            <td>@Model.RecentMatches.AverageLastHits.ToString("F0")</td>
            <td>@Model.RecentMatches.MaxLastHits</td>
        </tr>
        <tr>
            <td>Hero Damage</td>
            <td>@($"{Model.RecentMatches.AverageHeroDamage / 1000:F1}k")</td>
            <td>@($"{Model.RecentMatches.MaxHeroDamage / 1000:F1}k")</td>
        </tr>
        <tr>
            <td>Hero Healing</td>
            <td>@($"{Model.RecentMatches.AverageHeroHealing / 1000:F1}k")</td>
            <td>@($"{Model.RecentMatches.MaxHeroHealing / 1000:F1}k")</td>
        </tr>
        <tr>
            <td>Tower Damage</td>
            <td>@($"{Model.RecentMatches.AverageTowerDamage / 1000:F1}k")</td>
            <td>@($"{Model.RecentMatches.MaxTowerDamage / 1000:F1}k")</td>
        </tr>
        <tr>
            <td>Duration</td>
            <td>@TimeSpan.FromSeconds(Model.RecentMatches.AverageDuration).ToString(@"mm\:ss")</td>
            <td>@TimeSpan.FromSeconds(Model.RecentMatches.MaxDuration).ToString(@"mm\:ss")</td>
        </tr>
    </tbody>
</table>


<div class="page-data">
    
    
</div>